<header>
    <h1 style="font-weight: bold;">EURO 2024</h1>
    <nav >
      <ul>
        <div class="logo">
          <img src="../../../assets/logo.svg" class="me-3"><span>Lorem S.A.</span>
        </div>
        <li><a routerLink="/home">Home</a></li>
        <li><a [routerLink]="['/matches', email]">Mecze</a></li> <!-- Zmiana tutaj -->
        <li><a routerLink="/bet">Obstawianie</a></li>
        <li><a routerLink="/ranking">Ranking</a></li>
        <div class="mascot">
          <img src="../../../assets/maskotka.png" class="me-3">
        </div>
        <div class="mascot2">
          <img src="../../../assets/maskotka2.png" class="me-3">
        </div>
      </ul>
    </nav>
  </header>
  