.matches-table {
    margin: 20px auto;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
}

td {
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    table {
        border: 0;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
}

tbody {
    margin-bottom: 30px;
}



.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    
}

.team-name {
    font-size: 16px;
    font-weight: bold;
}

.team-flag {
    width: 30px;
    height: auto;
}


.column-lp {
    width: 5%;
}

.column-team {
    width: 25%;
}

.column-result {
    width: 10%;
}

.column-date {
    width: 20%;
}

